html {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  height: 100%;
}

body {
  min-height: 100%;
  background: $bg-main;
  display: flex;
  flex-direction: column;
  line-height: inherit;
  &>* {
    flex: 0 0 auto;
  }
  &>main {
    flex: 1 0 auto;
  }
}

p {
  text-align: justify;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}