.footer {
  background: $bg-sub;
}

$footer-padding: 10px;

.footer-content {
  @extend %wrapper;
  min-height: 100px;
  padding: $footer-padding 0;
  color: #fff;
  font-size: 14px;
  display: flex;
  &>* {
    flex: 0 0 33.3333%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    &:not(:last-child) {
      border-right: 1px solid #fff;
    }
  }
  .logo {
    font-family: "Romantique", serif;
    font-size: 70px;
    text-transform: none;
    &::after {
      content: '';
      width: 100px;
      display: inline-block;
      height: 100%;
      position: relative;
      bottom: -$footer-padding;
      margin-right: -50px;
      background: url('/img/footer-logo.png') no-repeat bottom center;
      background-size: contain;
    }
  }
  .social {
    &>* {
      margin-right: 10px;
    }
    a {
      flex: 0 0 auto;
      img {
        height: 35px;
      }
    }
  }
  .contacts {
    flex-direction: column;
    line-height: 1.5;
  }
  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    line-height: 1;
    &>* {
      padding: 20px 0;
      &:not(:last-child) {
        border: none;
        border-bottom: 1px solid #fff;
      }
    }
  }
}