.main {
  &.page-not-found {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    .main-content {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      .not-found-img {
        margin-top: auto;
        align-self: center;
        max-width: 300px;
      }
    }
  }
}

.main-content {
  @extend %wrapper;
  margin-top: 50px;
  margin-bottom: 50px;
  .sub-title {
    color: $color-title;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
  }
  .products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 33%;
      margin: 15px 0;
      box-shadow: 2px 2px 5px #919193;
      border-radius: 5px;
      .product-name,
      .price {
        text-transform: uppercase;
        font-size: 15px;
        padding: 10px;
      }
      .price {
        font-size: 20px;
      }
      img {
        max-width: 80%;
      }
      .buy {
        color: #fff;
        text-transform: uppercase;
        padding: 10px 20px;
        background: #8a8484;
        border-radius: 5px;
        transition: 0.5s;
        font-size: 18px;
        margin-bottom: 10px;
        &:hover {
          background: #535353;
        }
        &:active {
          background: #0e0e0e;
        }
      }
    }
  }
  .contacts-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &>*{
      flex: 0 0 45%;
      border: 1px solid #cbc7c7;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      justify-content: center;
      margin: 10px;
      border-radius: 5px;
      background: $bg-main-sub;
      min-height: 150px;
    }
    h3 {
      color: #7b7b7b;
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 10px;
    }
    .info {
      font-size: 30px;
    }
    .social{
      img {
        height: 50px;
      }
    }
  }
  .restaurant-address {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin: 30px 0 15px;
  }
  .map {
    width: 100%;
    height: 300px;
  }
  .actions-content {
    .action-item{
      margin-bottom: 50px;
      &:not(:last-child)::after {
        content: '';
        margin: 0 30px;
        display: block;
        height: 0;
        border-bottom: 1px solid $bg-sub;
      }
      .discount {
        color: $bg-main;
        margin-left: 10px;
        display: inline-block;
        transform: rotate(-7deg);
        background-color: $color-title;
        border-radius: 10px;
        box-shadow: 0 0 20px $color-title;
        padding: 10px;
      }
      .action{
        display: flex;
        padding-bottom: 50px;
        .info {
          font-size: 18px;
          line-height: 1.5;
          padding: 30px 50px;
          .note {
            font-size: 0.8em;
            font-style: italic;
            display: block;
            margin-top: 15px;
            &::before {
              content: '* ';
              color: red;
            }
          }
        }
        img {
          max-height: 300px;
        }
      }
      &:nth-child(2n) .action{
        flex-direction: row-reverse;
      }
    }
  }
  .delivery-content,
  .payment-content {
    p {
      padding: 0 30px;
      margin-bottom: 15px;
    }
  }
  .delivery-content {
    @extend %clearfix;
    .delivery-image {
      float: right;
      max-width: 300px;
      margin: 0 100px;
    }
  }
  .payment-content {
    @extend %clearfix;
    img {
      max-height: 100px;
      margin: 0 20px;
      float: right;
      &:nth-of-type(2n) {
        float: left;
      }
    }
  }
  .delivery-payment-content{
    .orders{
      width: 100%;
      thead {
        text-transform: uppercase;
        font-weight: bold;
        background: $bg-main-sub;
      }
      tr{
        border: 1px solid $bg-sub;
      }
      th, td {
        padding: 10px;
        text-align: left;
      }
      .total-price {
        width: 20%;
      }
      .price,
      .count {
        width: 10%;
      }
      .count-input {
        width: 50px;
        padding: 5px;
        text-align: center;
      }
      .delete {
        width: 80px;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        .delete-btn {
          color: $color-title;
          font-size: 35px;
          background: transparent;
          transition: 0.5s;
          &:hover {
            transform: scale(1.3);
          }
        }
      }
      .summary {
        background: #c7c7c7;
        font-weight: bold;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      .title {
        text-transform: uppercase;
        margin: 30px 30px 20px;
        font-weight: bold;
      }
      label {
        display: flex;
        justify-content: space-between;
        width: 40%;
        min-width: 400px;
        margin:  0 0 10px 10px;
        input {
          width: 60%;
          padding: 10px;
          border-radius: 5px;
        }
      }
    }
    .submit-order {
      background: #629e5b;
      color: #fff;
      padding: 15px;
      border-radius: 5px;
      font-size: 20px;
      margin: 10px;
      transition: 0.5s;
      &:hover {
        background: #437E3D;
      }
      &:active {
        background: #2d5b2d;
      }
    }
  }
}