.main-content {
  @extend %wrapper;
  margin-top: 50px;
  margin-bottom: 50px;
  .page-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
  }
  .products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 33%;
      margin: 15px 0;
      box-shadow: 2px 2px 5px #919193;
      border-radius: 5px;
      .product-name,
      .price {
        text-transform: uppercase;
        font-size: 15px;
        padding: 10px;
      }
      .price {
        font-size: 20px;
      }
      img {
        max-width: 80%;
      }
      .buy {
        color: #fff;
        text-transform: uppercase;
        padding: 10px 20px;
        background: #746e6e;
        border-radius: 5px;
        transition: 0.5s;
        font-size: 18px;
        margin-bottom: 10px;
        &:hover {
          background: #282828;
        }
      }
    }
  }
  .contacts-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &>*{
      flex: 0 0 45%;
      border: 1px solid #cbc7c7;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      justify-content: center;
      margin: 10px;
      border-radius: 5px;
      background: $bg-main-sub;
      min-height: 150px;
    }
    h3 {
      color: #7b7b7b;
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 10px;
    }
    .info {
      font-size: 30px;
    }
    .social{
      img {
        height: 50px;
      }
    }
  }
  .address {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin: 30px 0 15px;
  }
  .map {
    width: 100%;
    height: 300px;
  }
  .actions-content {
    .action-item{
      margin-bottom: 50px;
      &:not(:last-child)::after {
        content: '';
        margin: 0 30px;
        display: block;
        height: 0;
        border-bottom: 1px solid $bg-sub;
      }
      .sub-title {
        color: #c50a11;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
        .discount {
          font-size: 1.5em;
          color: $bg-main;
          margin-left: 10px;
          display: inline-block;
          transform: rotate(-7deg);
          background-color: #c50a11;
          border-radius: 10px;
          box-shadow: 0 0 20px #c50a11;
          padding: 10px;
        }
      }
      .action{
        display: flex;
        padding-bottom: 50px;
        .info {
          font-size: 18px;
          line-height: 1.5;
          padding: 30px 50px;
          text-align: justify;
          .note {
            font-size: 0.8em;
            font-style: italic;
            display: block;
            margin-top: 15px;
            &::before {
              content: '* ';
              color: red;
            }
          }
        }
        img {
          max-height: 300px;
        }
      }
      &:nth-child(2n) .action{
        flex-direction: row-reverse;
      }
    }
  }

  
}